body {
    width: 1200px ; 
    max-width:100%;
    margin: auto;
}   

header {
    background-image:url(photos/Background/samuel-scrimshaw-JXANugsHjCg-unsplash.jpg) ;
    height: 650px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
    color: white;
    padding: 180px;
}

header h1 {
    font-size: 68px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer li {
    float: right;
    font-size: 12px;
    
}

.foot li a:hover {
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;  
    overflow: hidden;
    background-color:#dfd0ab;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase ;
    
  }

  .nav li a:hover {
    background-color: #d8c894;
    transition: all 0.3s;
  }

  .name {
    font-family: 'Poppins', sans-serif; 

    text-decoration: line-through;

  }
   /* img {

    width: 49.5%;
    margin-top: 4px;
    display: inline-block;
  } */
  .welcome {
      font-family: 'Poppins', sans-serif;
      font-size:24px ;
      font-weight: 400; 
  }

  * {
    box-sizing: border-box;
  }
  
  .about-me-box {
    margin-top:1.5em;
    width: 100%;
    padding: 3em;
    background-color: #dfd0ab;
}

.about-me {
    Width: 50%; 
    text-align: center;
    margin: 0 auto; 
    color: white;
}

.about-me h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px; 
}

.about-me p {
    font-family: 'Poppins', sans-serif;
    text

}

  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
   .content h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600; 
    color: white;
    word-break: break-all;
  }

  .content p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    color: white;
    word-break: break-all;
  }

  .contentimg {
    border-style:solid;
    border-width:10px ;
    border-color:#dfd0ab ;
    margin-top:-70px ;
    margin-bottom:120px ;

  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
.row > .column-1 {
        padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    
  }
   
  .column-1 {
    float: left;
    width: 50%;
    
  }

  .column-1 p {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    text-align: justify;

  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: #dfd0ab;
    padding: 10px;
    height: 480px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column, .column-1 {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {        
    .column, .column-1 {
      width: 100%;
    }
    li, li a {
    Width: 100%; 
    display:block;
    float: left;
    }
  }

  .subpage {
    font-family: 'Poppins', sans-serif;
    color:#dfd0ab;
    text-transform: uppercase;
    text-shadow: 2px 2px grey;
  
  }


     
    .bonnier {
        padding-bottom:9px;
    }

    .grow { 
        transition: all .2s ease-in-out; 
        }
        
    .grow:hover { 
        transform: scale(1.1); 
        }
