* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #dfd0ab;
  --main-font-color: #ffffff;

  /* Color scheme  */
  --primary-color: #cb997e;
  --primary-color-light: #ddbea9;
  --primary-color-super-light: #eddcd2;
  --secondary-color: #a5a58d;
  --secondary-color-light: #b7b7a4;
  --secondary-color-super-light: #f0efeb;
}

body {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
  width: 100vw;
}

.hamburger-icon {
  background-image: url(/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2rem;
  width: 2rem;

  display: block;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;

  display: none;
}

.navbar {
  grid-column: 1 / 11;
  grid-row: 1 / 2;
  background-color: var(--main-bg-color);
}

.active {
  display: block;
  z-index: 100;
}

header {
  background-image: url(photos/Background/samuel-scrimshaw-JXANugsHjCg-unsplash.jpg);
  height: 650px;
  grid-column: 1 / 11;
  grid-row: 2 / 3;
  background-position: center;
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--main-font-color);
  padding-top: 14rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header h1 {
  font-size: 68px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer li {
  float: right;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--main-font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.nav li a:hover {
  background-color: #d8c894;
  transition: all 0.3s;
}

.name {
  font-family: "Poppins", sans-serif;
  text-decoration: line-through;
}

.welcome {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.about-me-box {
  margin-top: 1.5em;
  padding: 3em;
  background-color: var(--main-bg-color);
  grid-column: 1 / 11;
  grid-row: 3 / 4;
}

.about-me {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: var(--main-font-color);
}

.about-me h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.about-me p {
  font-family: "Poppins", sans-serif;
}

.content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--main-font-color);
  word-break: break-all;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  word-break: break-all;
}

.contentimg {
  border-style: solid;
  border-width: 10px;
  border-color: #dfd0ab;
  margin-top: -70px;
  margin-bottom: 120px;
}

.row {
  grid-column: 1 / 11;
  grid-row: 4 / 5;
}

.row,
.row > .column {
  padding: 8px;
}
.row > .column-1 {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.column-1 {
  float: left;
  width: 50%;
}

.column-1 p {
  font-family: "Poppins", sans-serif;
  width: 80%;
  text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: var(--main-bg-color);
  padding: 10px;
  height: 20%;
}

.subpage {
  font-family: "Poppins", sans-serif;
  color: #dfd0ab;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
  grid-column: 1 / 11;
  grid-row: 2 / 3;
  padding-top: 1rem;
  padding-left: 0.7rem;
}

.bonnier {
  padding-bottom: 14px;
}

.grow {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.grow:hover {
  transform: scale(1.1);
}

.footer {
  grid-column: 1 / 11;
  grid-row: 6/ 7;
}

/* Responsive layout  */
@media screen and (max-width: 900px) {
  .column,
  .column-1 {
    width: 50%;
  }

  .about-me-box {
    grid-column: 1 / 11;
  }

  .content {
    height: 20%;
  }
}

@media screen and (max-width: 720px) {
  .column,
  .column-1 {
    width: 100%;
  }

  .content {
    height: 20%;
  }

  li,
  li a {
    width: 100%;
    display: block;
    float: left;
  }

  .navbar-toggle {
    display: block;
  }
  .nav {
    list-style-type: none;
    display: none;
  }
  .active {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 3rem;
  }
  .about-me {
    width: 100%;
  }

  .about-me h3 {
    font-size: 1.8rem;
  }

  .about-me p {
    font-size: 1.2rem;
  }

  .navbar-toggle {
    display: block;
  }
  .nav {
    list-style-type: none;
    display: none;
  }
}
